data/ filter=lfs diff=lfs merge=lfs -text
/data filter=lfs diff=lfs merge=lfs -text
data/NSDUH_2019_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/*.csv filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2013_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2014_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2015_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2016_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2017_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2018_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2019_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/ncvs/ncvs.csv.zip filter=lfs diff=lfs merge=lfs -text
data/neulaw/hc.csv.zip filter=lfs diff=lfs merge=lfs -text
data/nsduh/nsduh_compressed.zip filter=lfs diff=lfs merge=lfs -text
data/processed/criminal_history.csv filter=lfs diff=lfs merge=lfs -text
data/processed/ncvs.csv filter=lfs diff=lfs merge=lfs -text
data/processed/nsduh.csv filter=lfs diff=lfs merge=lfs -text
data/rais/calculated_rais.csv filter=lfs diff=lfs merge=lfs -text
data/rais/coef_ogrs3.csv filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_1994_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_1996_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_1997_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2006_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_1995_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2004_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2011_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2012_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2002_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2003_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2005_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2010_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_1992_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_1993_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_1998_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2007_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2008_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NSDUH_2009_Tab.txt filter=lfs diff=lfs merge=lfs -text
data/nsduh/NHSDA-1999-DS0001-data-stata.dta filter=lfs diff=lfs merge=lfs -text
data/nsduh/NHSDA-2000-DS0001-data-stata.dta filter=lfs diff=lfs merge=lfs -text
data/nsduh/NHSDA-2001-DS0001-data-stata.dta filter=lfs diff=lfs merge=lfs -text
